*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
   
}
.card{
    background:#c5beb761;
    height: 35vw;
    width: 27vw;
    border: 5px solid black;
}
.books_card{
    background:#e2dbd399;
    display: flex;
    justify-content: space-around;
    align-items: start;
    align-content: space-around;
    flex-wrap: wrap;
}
.card_pad{
    margin: 1vw 3vw;
}
.card img{
    padding: 8px;
    height: 28vw;
    width: 26.5vw;
}
.card p{
    font-size: 1.5vw;
    height: 49px;
    width: auto;
    padding: 0px 12px;
  
}
.card button{
    border: 2px solid black;
    border-radius: 10px;
    background: #dfe1ed;
    height: 2.5vw;
    width: 7vw;
    margin: 40px 10vw;
    
}
.card button:hover{
    cursor: pointer;

}

@media only screen and (max-width: 2380px) {
    .card button{
        border: 2px solid black;
        border-radius: 10px;
        background: #dfe1ed;
        height: 2.5vw;
        width: 7vw;
        margin:20px 10vw;
        
    }
}
@media only screen and (max-width: 1780px) {
    .card button{
        border: 2px solid black;
        border-radius: 10px;
        background: #dfe1ed;
        height: 2.5vw;
        width: 7vw;
        margin: 10px 10vw;
        
    }
    .card p{
        font-size: 1.5vw;
        height: 31px;
        width: auto;
        padding: 0px 12px;
      
}}
@media only screen and (max-width: 1250px) {
    .card button{
        border: 2px solid black;
        border-radius: 10px;
        background: #dfe1ed;
        height: 2.5vw;
        width: 7vw;
        margin: 5px 10vw;
        
    }
    .card p{
        font-size: 1.5vw;
        height: 25px;
        width: auto;
        padding: 0px 12px;
    }
}
@media only screen and (max-width: 865px) {
    .books_card{
        background:#e2dbd399;
        display: flex;
        justify-content: space-around;
        align-items: start;
        align-content: space-around;
        flex-wrap: wrap;
    }
    .card{
    background: #c5beb761;
    height: 40vw;
    width: 30vw;
    border: 5px solid black;
    }
    .card img{
        padding: 8px;
        height: 31vw;
        width: 29.5vw;
    }
    .card button{
        border: 2px solid black;
        border-radius: 10px;
        background: #dfe1ed;
        height: 3.5vw;
        width: 10vw;
        margin: -25px 10vw;
        
    }
    .card p{
        font-size: 1.5vw;
        height: 25px;
        width: auto;
        padding: 0px 12px;
    }


}
@media only screen and (max-width: 600px) {
    .card{
        background:#c5beb761;
        height: 67vw;
        width: 45vw;
        border: 5px solid black;
    }
    .card img{
        padding: 8px;
        height: 46vw;
        width: 43.5vw;
    }
    .card p{
        font-size: 3vw;
        height: 25px;
        width: auto;
        padding: 0px 12px;
    }
    .card button {
        font-size: 3vw;
        border: 2px solid black;
        border-radius: 10px;
        background: #dfe1ed;
        height: 6.5vw;
        width: 18vw;
        margin: 7px 10vw;
    }

}   
